<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--已改注解模式@@Component("name")、@Resource-->

    <!--<bean id="fileDao" class="com.djj.test.dao.FileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>-->

    <!-- <bean id="fileServiceBase" class="com.djj.test.service.FileServiceImpl">
         <property name="fileDao" ref="fileDao"></property>
     </bean>-->

    <!--<bean id="blobFileDao" class="com.djj.test.dao.BlobFileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="blobfileServiceBase" class="com.djj.test.service.BlobFileServiceImpl">
        <property name="blobFileDao" ref="blobFileDao"></property>
    </bean>-->

    <!-- 此处为代理 -->
    <bean name="fileService" parent="transactionProxy">
        <property name="target" ref="fileServiceBase"></property>
    </bean>
    <bean name="blobFileService" parent="transactionProxy">
        <property name="target" ref="blobfileServiceBase"></property>
    </bean>
</beans>