<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-4.2.xsd">

    <!--<http pattern="/static/login*" security="none" />-->
    <http auto-config="true" use-expressions="false">
        <!--<csrf disabled="true"/>-->

        <intercept-url pattern="/uploadfiletopath" access="ROLE_USER"/>
        <intercept-url pattern="/static/**" access="ROLE_ADMIN,ROLE_USER"/>
        <!--<intercept-url pattern="/**" access="ROLE_ADMIN"/>-->
        <form-login login-page="/login.jsp" authentication-failure-forward-url="/login.jsp"
                    default-target-url="/index.jsp"/>
    </http>

    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="user" password="user" authorities="ROLE_USER"/>
                <user name="admin" password="admin" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>

    <!--<beans:bean id="requestDataValueProcessor" class="org.springframework.security.web.servlet.support.csrf.CsrfRequestDataValueProcessor"/>-->

</beans:beans>