<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--已改注解模式@@Component("name")、@Resource-->

    <!--<bean id="fileDao" class="com.djj.test.dao.FileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>-->

    <!-- <bean id="fileServiceBase" class="com.djj.test.service.FileServiceImpl">
         <property name="fileDao" ref="fileDao"></property>
     </bean>-->

    <!--<bean id="blobFileDao" class="com.djj.test.dao.BlobFileDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <bean id="blobfileServiceBase" class="com.djj.test.service.BlobFileServiceImpl">
        <property name="blobFileDao" ref="blobFileDao"></property>
    </bean>-->

    <!--第二种配置事务的方式 ，代理-->
    <!-- 此处为代理 -->
    <!--<bean name="fileService" parent="transactionProxy">
        <property name="target" ref="fileServiceBase"></property>
    </bean>
    <bean name="blobFileService" parent="transactionProxy">
        <property name="target" ref="blobfileServiceBase"></property>
    </bean>-->

    <!--统一异常处理-->
    <!-- 全局异常配置 start -->
    <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="exceptionMappings">
            <props>
                <prop key="java.lang.Exception">error</prop>
                <prop key="java.lang.Throwable">error</prop>
            </props>
        </property>
        <property name="statusCodes">
            <props>
                <prop key="errors/error">500</prop>
                <prop key="errors/404">404</prop>
            </props>
        </property>
        <!-- 设置日志输出级别，不定义则默认不输出警告等错误日志信息 -->
        <!-- <property name="warnLogCategory" value="WARN"></property>-->
        <!-- 默认错误页面，当找不到上面mappings中指定的异常对应视图时，使用本默认配置 -->
        <property name="defaultErrorView" value="error"/>
        <!-- 定义异常处理页面用来获取异常信息的变量名，默认名为exception -->
        <property name="exceptionAttribute" value="ex"/>
        <!-- 默认HTTP状态码 -->
        <property name="defaultStatusCode" value="500"/>
    </bean>
    <!-- 全局异常配置 end -->
</beans>